/* Flights.css */
body {
  background-image: url('../../assets/travel.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* 60% transparency */
  z-index: -1;
}

/* Overlay Effect - Whitewash/Translucent Background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  z-index: 10; /* To make sure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the CircularProgress */
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20; /* Ensure the loader is above the overlay */
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.results-container {
  padding: 20px;
}

.results-box {
  margin-bottom: 20px;
}

.flight-container {
  position: relative;
  width: 80%;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for better visibility */
  margin-bottom: 20px; /* Space between each flight container */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}


.flight-summary {
  padding: 10px;
}

.flight-summary-title {
  font-weight: bold;
  color: #023641;
}

.flight-details {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.flight-accordion {
  margin-top: 15px;
}

.MuiAccordionSummary-root {
  background-color: #e0f7fa;
}

.MuiAccordionDetails-root {
  padding: 0;
}

.results-table {
  margin-top: 10px;
}

.MuiTableCell-root {
  font-size: 14px;
}

